<html>
	<head>
		<title><%= title %></title>
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
	</head>
	<body>
		<form method="get" action="/search">
			<input type="text" name="terms"></input>
			<input type="submit" value="Search"></input>
		</form>
		<% if (!user) { %>
			<h2>Welcome! Please log in.</h2>
			<a href="/auth/facebook"><img src="login-with-facebook.png" width="154" height="22"></a>
		<% } else { %>
			<h2>Hello, <a href="/account"><%= user.username %></a>.</h2>
			<% console.log(profile) %>
			<p><em>Name: </em><%= profile.displayName %></p>
			<a href="/logout">Log out</a>
		<% } %>
		<a href="/reviews/new">New Review</a>
		<% reviews.forEach(function(review) { %>
			<div class="username">
				<span>Username: </span>
				<%= review.user._json.name %>
				<% console.log(review.user); %>
			</div>
			<div class="reviewText">
				<span>Review: </span>
				<a href="/reviews/<%= review.username %>/<%= review.song %>"><%= review.reviewText %></a>
			</div>
			<div class="song">
				<span>Song: </span>
				<%= review.album %>
				<% console.log(review.album) %>
			</div>
		<% }); %>
		<!-- <a href="/reviews/delete">Delete All</a> -->
	</body>
</html>


